<!-- Partial / javascript -->
{% load static %}

<!-- JS Dependencies below -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="{% static 'assets/js/vendor/plugins.js' %}"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js"></script>
<script src="{% static 'assets/js/vendor/bootstrap.min.js' %}"></script>
<script src="{% static 'assets/js/plugins/jquery.waypoints.min.js' %}"></script>
<!--<script src="{% static 'assets/js/plugins/background-blur.min.js' %}"></script>-->

<!-- Custom JS Scripts -->
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- Site-wide functionality -->
<script>
$(document).ready(function(){
	$('.navbar .navbar-brand .logo').animate({'opacity': '0'}, 'slow', function(){
		$(this).attr('src', '{% static "assets/images/logo_wht.png" %}'); // Change logo
		$(this).animate({'opacity': '1'}, 'medium'); // Re-reveal logo
	});

	// Nav animation with waypoints!
    $('section.hero').waypoint(function(direction) {
    	console.log("Scrolling to nav")
  		if (direction === "down") {
        	$('.navbar').addClass('scrolled');
        	// Cross-fade logos!
        	$('.navbar .navbar-brand .logo').animate({'opacity': '0'}, 'fast', function(){
				$(this).attr('src', '{% static "assets/images/logo.png" %}'); // Change logo
				$(this).animate({'opacity': '1'}, 'fast'); // Re-reveal logo
			});
  		} else if (direction === "up") {
      		$('.navbar').removeClass('scrolled');
      		// Cross-fade images
      		$('.navbar .navbar-brand .logo').animate({'opacity': '0'}, 'fast', function(){
				$(this).attr('src', '{% static "assets/images/logo_wht.png" %}'); // Change logo
				$(this).animate({'opacity': '1'}, 'fast'); // Re-reveal logo
			}); 
  		}
    }, {
  		offset: '-1px' // Offset 1px from top of body
    });

    // Background fade for hero
    /*
    $('.hero').backgroundBlur({
      imageURL : '{% static "assets/images/hero-bg.jpg" %}',
      blurAmount : 5,
      imageClass : 'bg-blur'
    });
    */
});
</script>

<!-- end / Partial / javascript -->