{% load static %}

<!-- Meta info and Favicons -->
<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="apple-touch-icon" href="{% static 'apple-touch-icon.png' %}">
<meta name="msapplication-TileImage" content="{% static 'tile.png' %}">
<!-- Place favicon.ico in the root directory -->
<link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon.png' %}">