{% load static %}
<!-- Load stylesheets into header -->
<link rel="stylesheet" href="{% static 'assets/css/vendor/normalize.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/vendor/html5_boiler/main.css' %}">

<!-- Your stylesheets below this line -->
<link rel="stylesheet" href="{% static 'assets/css/style.css' %}">
<link rel="stylesheet" href="{% static 'assets/css/font-awesome.min.css' %}">

<!-- Google Fonts -->
<link href="https://fonts.googleapis.com/css?family=Open+Sans:100,100i,200,200i,300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">