/* Global variables and settings */

$xl-width: 1400px;
$lg-width: 1200px;
$md-width: 1024px;
$sm-width: 792px;
$xs-width: 568px;

$mobile-width: 1024px;
//$container-width: 80%;

$accent: #FFA000;
$accent-hover: #B27000;
$alt: #517fa4;
$alt-hover: #243949;

$heading-font: 'Open Sans', sans-serif;
$content-font: 'Merriweather', serif;