/* Global variables and settings */

// $main-color: #fff;
// $main-font: 'Merriweather', sans-serif;
$blue: #2358CB;
$orange: #f39c12;

// XL breakpoint
$xl-breakpoint: 1200px;
// LG breakpoint
$lg-breakpoint: 992px;
// MD breakpoint
$md-breakpoint: 768px;
// SM breakpoint
$sm-breakpoint: 576px;
// XS  breakpoint
$xs-breakpoint: 480px;