section.hero {
	position: relative;
	display: flex;
	align-items: center;
	//padding-top: 56px; // Size of nav
	height: 80vh;
	min-height: 400px;
	background: url('../images/hero-bg.jpg');
	background-attachment: fixed;
	background-position: left center;
	background-size: cover;
	background-repeat: no-repeat;
	overflow: hidden;

	.overlay {
		position: absolute;
		width: 100%;
		height: 100%;
		opacity: 0.25;
		background: linear-gradient(rgba(0,0,0,0), rgba(0,0,0,1));
	}
	.gfx-layer {
		position: absolute;
		width: 1200px;
		height: 100%;
		transition: all 0.2s ease-in;

		&.one {
			// Purple layer
			background-color: #03a0ff;
			mix-blend-mode: soft-light;
			transform: skew(45deg);
			left: -400px;
			border-right: 15px solid lightblue;
		}
		
		&.two {
			// Orange layer
			background-color: #FFB103;
			transform: skew(-45deg);
			right: -1185px;
			opacity: 0.4;
			//z-index: 9;
		}
		&.three {
			// Orange layer
			background-color: #FFB103;
			transform: skew(-45deg);
			right: -1200px;
			opacity: 0.5;
			//z-index: 10;
		}
	}

	h1 {
		color: white;
	}
	small {
		display: inline-block;
		color: white;
		border: 3px solid white;
		padding: 0.5rem 1rem;
		margin-bottom: 1rem;
	}
	p {
		color: white;
	}

	// Hero Variants
	&.small {
		height: 400px;
		min-height: 400px;
	}
}

/*************
*** RESPONSIVE
*************/

section.hero {
	@media (max-width: 768px) {
		background-attachment: scroll; // Resolves mobile issues
		background-position: left center;
	}
}