.section.projects {
	display: flex;
	justify-content: center;

	margin: 0;
	padding: 4rem 0;
	background: transparent;

	h2 {
		margin: 0;
		color: #fff;
	}

	.projects-row {
		display: flex;
		flex-wrap: wrap;

		&.full-size {
			.project-block {
				width: 100%;
			}
		}
	}

	.right-col {
		align-items: center;
		justify-content: flex-end;
	}

	.project-search {
		display: flex;
		flex-grow: 1;
		padding: 0 .5rem;
		border-radius: 5px;
		border: none;
		height: 30px;
	}
	.tag-filter-info {
		margin: 0;
		color: #fff;
	}
	.tag-select {
		background: white;
		height: 30px;
		margin-right: 1rem;
		border-radius: 0;
		border: none;
	}

	.projects-loading {
		display: flex;
		flex-direction: column;
		align-items: center;
		width: 100%;
		margin: 2rem 0;
		transition: all 0.2s linear;

		i.fa {
			color: $accent;
			font-size: 5em;
		}

		@keyframes spinner {
		  to {transform: rotate(360deg);}
		}
		i.fa-refresh {
			animation: spinner 2s ease-in-out infinite;
		}

		span {
			margin-top: 1rem;
		}
	}
	
}

.noresults {
	display: none;
	text-align: center;
	width: 100%;
	color: #fff;
}

.project-block {
	display: flex;
	flex-direction: column;
	width: 33.3%;
	//margin: 0 .5rem;
	text-decoration: none;
	//transition: all 0.2s linear; Causing glitches with packery

	.project-info {
		display: flex;
		flex-direction: column;	
		padding: 1rem;
		margin: .5rem;
		border-radius: 3px;
		border: 1px solid #e0e0e0;
		box-shadow: 0px 1px 1px 0px rgba(0,0,0,.2);
		background: rgba(255,255,255,0.2);
		min-height: 240px;
    	max-height: 240px;

		p {
			font-size: 1em;
			color: #fff;
			font-weight: lighter;

			span {
				font-style: italic;
				text-decoration: underline;
				font-weight: bolder;
			}
		}
		a {
			text-decoration: none;
			color: #fff;
			transition: all 0.2s linear;

			h3 {
				font-weight: 700;
				margin: 0;
				font-size: 1.2em;
			}

			&:hover {
				color: $accent;
			}
		}
		.view-btn {
			border: 1px solid #fff;
		    color: #fff;
		    padding: .2rem 2rem;
		    text-align: center;
		    border-radius: 5px;
		    text-decoration: none;
		    transition: all 0.2s linear;
		    margin: 0 auto;

		    &:hover {
		    	background: $accent;
		    	color: white;
		    }
		}
		.project-tag {
			margin-top: 1rem;

			p {
				display: inline;
				padding: .2rem .5rem;
				background: $accent;
				border: 2px solid $accent-hover;
				color: white;
				text-align: center;
				font-size: .7em;
			}
		}
	}
}