<!doctype html>

{% load static %}

<html class="no-js" lang="en">

    <head>
        <title>Blog | Dacard.io</title>

        {% include "partials/meta.html" %}
        {% include "partials/stylesheets.html" %}

    </head>

    <body class="page blog">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include "partials/resume.html" %}

        <div class="site-container"> <!-- To get push menu working properly -->
        
        {% include "partials/navigation.html" %}

        <div class="hero small">
            <!-- Temporarily disable nav until more blog content is completed-->
            <div class="container hero-container">
                <div class="row">
                    <h1>Blog.</h1>
                    <div class="waves-overlay">
                        <canvas id="waves"></canvas>
                    </div>
                </div>
                <h2>Case studies, written tutorials, project logs, and other dev topics.</a></i></h2>
            </div>
        </div>

        <div class="section posts" id="posts">
            <div class="container">
                <div class="row">
                    <div class="col thirty left-col">
                        <h2>Posts</h2>
                    </div>
                    <div class="row seventy right-col align-right">
                        <!-- Add tag filtering later, when there is more posts
                        <p class="tag-filter-info"><i class="fa fa-tag"></i>&nbsp;&nbsp;Filter by:&nbsp;&nbsp;</p>
                        <select class="tag-select">
                            <option value="all">All Posts</option>
                            <option value="case-studies">Case Studies</option>
                            <option value="tutorials">Tutorials</option>
                            <option value="project-log">Project Logs</option>
                        </select>
                        -->
                        <!--
                        <input type="search" class="project-search" placeholder="Search posts by language, framework, or keyword"/>
                        -->
                    </div>
                </div>
                <hr/>
                <!--
                <div class="projects-loading">
                    <i class="fa fa-refresh" aria-hidden="true"></i>
                    <span>Retrieving Projects...</span>
                </div>
                -->
                <span class="noresults">No blog posts found that match your search criteria</span>

                <div class="posts-row">
                    <!-- Projects begin -->
                    {% for post in recent_posts %}
                    {% if post.published %}
                    <div class="post-block" data-tag="{{ post.tag }}">
                        <div class="post-container">
                            <a class="post-title" href="{{ post.get_absolute_url }}"><h3>{{ post.title }}</h3></a>
                            <p class="post-description">{{ post.description }}</p>
                            <div class="row">
                                <div class="post-meta">Posted on {{ post.pub_date }} &mdash; 
                                    {% if post.tag == "uncategorized" %}
                                        <div class="post-tag"><p><i class="fa fa-tag"></i>&nbsp;&nbsp;Uncategorized</p></div>
                                    {% endif %}
                                    {% if post.tag == "case-studies" %}
                                        <div class="post-tag"><p><i class="fa fa-tag"></i>&nbsp;&nbsp;Case Studies</p></div>
                                    {% endif %}
                                    {% if post.tag == "tutorials" %}
                                        <div class="post-tag"><p><i class="fa fa-tag"></i>&nbsp;&nbsp;Tutorials</p></div>
                                    {% endif %}
                                    {% if post.tag == "project-logs" %}
                                        <div class="post-tag"><p><i class="fa fa-tag"></i>&nbsp;&nbsp;Project Logs</p></div>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                    <!-- Projects end -->
                </div>
            </div>
        </div>

        {% include "partials/footer.html" %}

        </div><!-- site-container end -->

        {% include "partials/javascript.html" %}
    </body>

</html>
