<!doctype html>

{% load static %}

<html class="no-js" lang="en">

    <head>
        <title>Blog | Dacard.io</title>
        <meta name="description" content="View my case studies, written tutorials, project logs, and other dev topics.">

        {% include "partials/meta.html" %}
        {% include "partials/stylesheets.html" %}
        {% include "partials/analytics.html" %}
    </head>

    <body class="page blog">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class="site-container"> <!-- To get push menu working properly -->
        
        {% include "partials/navigation.html" %}

        <main role="main"><!-- Main view container -->

            <section class="hero small">
                <!-- Animated layers -->
                <div class="gfx-layer one animated-hero heroFadeInLeft"><!-- Purple layer --></div>
                <div class="overlay"></div><!-- Dark overlay to control background -->
                <div class="gfx-layer two animated-hero heroFadeInRight"><!-- Orange layer --></div>
                <div class="gfx-layer three animated-hero heroFadeInRight"><!-- Orange layer #2 --></div>

                <div class="container">
                    <div class="row">
                        <div class="col-md-6">
                            <h1>Blog</h1>
                            <p>Case studies, written tutorials, project logs, and other dev topics.</p>
                        </div>
                    </div>
                </div>
            </section>

            {% comment %} If all types of posts exist, show search area {% endcomment %}
            <section class="search-area">
                <div class="container">
                    <div class="row">

                         <!-- Search Card -->
                        <div class="col-12 col-md-9">
                            <div class="card animated delay-medium fadeInUp">
                                <div class="card-body text-center">
                                    <label class="d-inline mr-3"><b>Filter by Posts: </b></label>
                                    <a href="{% url 'blog' %}" class="btn ghost-blue {% if not request.GET.tag %}active{% endif %}">All Posts</a>
                                    
                                    {% if tutorials_available %}
                                    <a href="{% url 'blog' %}?tag=tutorials" class="btn ghost-blue {% if request.GET.tag == 'tutorials' %}active{% endif %}">Tutorials</a>
                                    {% endif %}
                                    
                                    {% if casestudies_available %}
                                    <a href="{% url 'blog' %}?tag=case-studies" class="btn ghost-blue {% if request.GET.tag == 'case-studies' %}active{% endif %}">Case Studies</a>
                                    {% endif %}
                                    
                                    {% if projectlogs_available %}
                                    <a href="{% url 'blog' %}?tag=project-logs" class="btn ghost-blue {% if request.GET.tag == 'project-logs' %}active{% endif %}">Project Logs</a>
                                    {% endif %}
                                    
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </section>

            <section class="posts">
                <div class="container">
                    <div class="row">
                        {% for post in blog_posts %}
                        {% if post.published %}
                        <!-- Post Card -->
                        <div class="card col-12 post-card" data-tag="{{ post.tag }}">
                          <div class="card-body">
                            <div class="row">
                                <div class="col-12 col-md-9">
                                    <a href="{{ post.get_absolute_url }}"><h2 class="post-title text-left">{{ post.title }}</h2></a>
                                    <p class="post-description text-left">{{ post.description }}</p>
                                    <div class="row">
                                        <div class="col-12 d-flex justify-content-between">
                                            <p class="post-date">Posted on {{ post.pub_date|date:"M d, Y" }}</p>
                                            {% if post.tag == "uncategorized" %}
                                            <a class="post-tag"><i class="fa fa-tag"></i> Uncategorized</a>
                                            {% endif %}
                                            {% if post.tag == "case-studies" %}
                                            <a class="post-tag" href="{% url 'blog' %}?tag=case-studies"><i class="fa fa-tag"></i> Case Studies</a>
                                            {% endif %}
                                            {% if post.tag == "tutorials" %}
                                            <a class="post-tag" href="{% url 'blog' %}?tag=tutorials"><i class="fa fa-tag"></i> Tutorial</a>
                                            {% endif %}
                                            {% if post.tag == "project-logs" %}
                                            <a class="post-tag" href="{% url 'blog' %}?tag=project-logs"><i class="fa fa-tag"></i> Project Logs</a>
                                            {% endif %}
                                        </div>
                                    </div>
                                </div>
                            </div>
                          </div>
                        </div>
                        <!-- End / Post Card -->
                        {% endif %}
                        {% empty %}
                        <div class="card col-12 post-card" data-tag="not-found">
                             <div class="card-body">
                                <div class="row">
                                    <div class="col-12 col-md-9 text-center">
                                        <hr/>
                                        <h5><b><i class="fa fa-warning"></i>&nbsp;&nbsp;&nbsp;No blog posts found that match your search criteria</b></h5>
                                        <hr/>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </section>

        </main><!-- End / Main view container -->

        {% include "partials/footer.html" %}

        </div><!-- site-container end -->

        {% include "partials/javascript.html" %}
    </body>

</html>
