<!-- Include Context Processor data -->
<div class="push-menu resume-section">
    <h1>David Cardoso</h1>
    <h2>Web Developer</h2>
    <hr/>

    <div class="group">
        <h3>Experience</h3>
        {% for job in resume_jobs %}
        {% if job.enabled %}
        <div class="entry">
            <h4>{{ job.position }} @ <i>{{ job.company }}</i> &mdash; {{ job.start_date }} - {% if job.current %}Present{% else %}{{ job.end_date }}{% endif %}</h4>
            <p>{{ job.description }}</p>
        </div>
        {% endif %}
        {% endfor %}
    </div>
    <div class="group">
        <h3>Education</h3>
        {% for institution in resume_institutions %}
        <div class="entry">
            <h4>{{ institution.certificate }} @ <i>{{ institution.name }}</i> &mdash; {{ institution.end_date }}</h4>
        </div>
        {% endfor %}
    </div>
    <div class="group">
        <h3>Proficiencies</h3>
        <small>(Click skill to view related project)</small>
        {% for skillset in resume_skillsets %}
        <div class="entry">
            <p><b><i>{{ skillset.name }}:</i></b> {{ skillset.skills }}</p>
        </div>
        {% endfor %}
    </div>
    <div class="group">
        <h3>Achievements</h3>
        <div class="entry">
            <ul>
                {% for achievement in resume_achievements %}
                <li>{{ achievement.item }}</li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>