<div class="push-menu resume-section">
    <h1>David Cardoso</h1>
    <h2>Web Developer</h2>
    <hr/>

    <div class="group">
        <h3>Experience</h3>
        <div class="entry">
            <h4>Web Developer @ <i>Advantage Services</i> &mdash; Oct. 2016 - Present</h4>
            <p>Responsible for implementing designs and solutions for client websites in Coldfusion, and with the proprietary company CMS. Provides exemplary and effective customer support with both the ConnectWise ticketing system and phone support. Responsible for managing e-Commerce solutions and strategies for clients which includes the use of the Prestashop and Shopify platforms. Responsible for implementing Sharepoint Online solutions for clients.</p>
        </div>
        <div class="entry">
            <h4>Web Developer @ <i>Bricks and Mortar</i> &mdash; Oct. 2016 - Present</h4>
            <p>Responsible for developing custom themes and plugins for Wordpress. Responsible for developing custom extensions and themes for the Magento e-Commerce platform. Provided general assistance around the Bricks and Mortar office.</p>
        </div>
    </div>
    <div class="group">
        <h3>Education</h3>
        <div class="entry">
            <h4>Associate of Arts Degree @ <i>Broward College</i> &mdash; May 2015</h4>
        </div>
        <div class="entry">
            <h4>High School Diploma @ <i>Monarch High School</i> &mdash; June 2012</h4>
        </div>
    </div>
    <div class="group">
        <h3>Proficiencies</h3>
        <small>(Click skill to view related project)</small>
        <div class="entry">
            <h4>Associate of Arts Degree @ <i>Broward College</i> &mdash; May 2015</h4>
        </div>
        <div class="entry">
            <h4>High School Diploma @ <i>Monarch High School</i> &mdash; June 2012</h4>
        </div>
    </div>
    <div class="group">
        <h3>Achievements</h3>
        <div class="entry">
            <ul>
                <li>While working at Advantage Services, helped improve the workflow of the web department by making a proposal to switch from FTP deployment, to collaboration with Git, and using Microsoft Team Services for deployment on larger projects.</li>
                <li>While working at Advantage Services, helped migrate a large e-commerce shop facing removal of their PCI compliance, by migrating to a new version of Prestashop, revamping their design, migrating their data, and preserving their search rank using 301 redirects.</li>
            </ul>
        </div>
    </div>
</div>