{% load static %}

<!-- Javascript dependencies (below fold) -->
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

<!-- Your JS Files -->
<script src="{% static 'assets/js/packery.pkgd.min.js' %}"></script>
<!-- I know the includes for a simple sine wave are ridiculous, but I really want one! -->
<script src="{% static 'assets/js/waves.min.js' %}"></script>
<!-- Main site script -->
<script src="{% static 'assets/js/main.js' %}"></script>

<!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
<!-- Global site tag (gtag.js) - Google Analytics -->
<!-- Now using tag manager. Rendered unnecessary
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-36605390-3"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());
  gtag('config', 'UA-36605390-3');
</script>
-->