/**
* Footer
**/

.footer {
	display: flex;
	justify-content: center;
	padding: .5rem 0;

	color: white;

	.container {
		display: flex;
	}

	a {
		margin: 1rem;
		display: inline;
		color: white;
		text-decoration: none;
		transition: all 0.2s linear;

		&:hover {
			color: $accent;
		}
	}
	.left-col {
		//display: flex;
		justify-content: center;
	}
	.right-col {
		//display: flex;
		justify-content: center;
	}
}