.site-container {
	transition: all 0.5s ease-in-out;
	&.menu-open {
		// Move DOM entirely to the right for the push menu
		transform: translate3d(-44%, 0, 0);
		overflow: hidden !important;
		background: rgba(0, 0, 0, .4);
    	filter: blur(1px);
	}
}

.push-menu {
	position: fixed;
	top: 0;
	left: 0;
	width: 40%;
	height: 100vh;
	margin: 0 0 0 100%;
	transition: all 0.5s ease-in-out;
	overflow: auto;
	background: white;

	#close-push-menu {
		float: right;
		cursor: pointer;
	}

	&.open {
		// Add open styling hero
		box-shadow: 1px 1px 5px 1px rgba(0,0,0,1);
		// Put menu in view by removing margin
	    margin: 0 0 0 56%;
	}

	/* General Styling */
	padding: 1rem 2rem; 

	h1 {
		margin: 0;
		font-weight: 100;
		font-size: 2.5em;
	}
	h2 {
		margin: 0;
		font-weight: 700;
		font-size: 1.5em;
		color: $accent;
		text-transform: uppercase;
	}
	h3 {
		margin: 0;
		font-weight: 700;
		font-size: 1.25em;
	}
	.group {
		margin: 1rem 0;

		&:last-child {
			margin-bottom: 4rem;
		}
	}
	.entry {
		margin: 2rem 0;

		h4 {
			margin: 1rem 0 0.5rem;
			font-size: 1.15em;
		}
		p {
			margin: 0;
			padding-right: 2rem;
		}

		ul {
			li {
				margin: 0.5rem 0;
				padding-right: 2rem;
			}
		}
	}
}


// Media queries below
@media (max-width: $md-width) {
	.site-container {
		&.menu-open {
			// Move DOM entirely to the right for the push menu
			transform: translate3d(-74%, 0, 0);
		}
	}
	.push-menu {
		width: 70%;

		&.open {
			margin: 0 0 0 26%;
		}
	}
}

@media (max-width: $sm-width) {
	.site-container {
		&.menu-open {
			// Move DOM entirely to the right for the push menu
			transform: translate3d(-100%, 0, 0);
		}
	}
	.push-menu {
		width: 88%;

		&.open {
			margin: 0 0 0 0%;
		}
	}
}