<!doctype html>

{% load static %}

<html class="no-js" lang="en">

    <head>
        <title>{{ post.title }} | Dacard.io</title>

        {% include "partials/meta.html" %}
        {% include "partials/stylesheets.html" %}
    </head>

    <body class="page post">
        <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        {% include "partials/resume.html" %}

        <div class="site-container"> <!-- To get push menu working properly -->
        
        {% include "partials/navigation.html" %}

        <div class="hero small">
            <!-- Temporarily disable nav until more blog content is completed-->
            <div class="container hero-container">
                <div class="row">
                    <h1>{{ post.title }}</h1>
                </div>
                <h2>{{ post.description }}</a></i></h2>
                <div class="post-meta">Posted on {{ post.pub_date }} - August 7th, 2017</div>
            </div>
        </div>

        <div class="section posts" id="posts">
            <div class="container">

                <div class="post-content">
                    <!-- Post Content -->

                    {{ post.content|safe }}

                    <!-- End Post Content -->
                </div>

                <div class="disqus-container">
                    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
                    <div id="disqus_thread"></div>
                </div>
            </div>
        </div>

        {% include "partials/footer.html" %}

        </div><!-- site-container end -->

        {% include "partials/javascript.html" %}

    </body>

</html>
