.page.post {
	background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5)), url(../images/hero.jpg);
    background-size: cover;
    background-attachment: fixed;
    background-position: left bottom;
    .hero {
    	.post-meta {
			margin-top: 1rem;
			font-size: 1.2em;
			font-weight: 700;
			font-style: italic;
			color: #fff;
		}
    }
	.posts {
		margin: 0;
		padding: 4rem 0;
		//background: transparent;
		background-color: rgba(255,255,255,1);

		h2 {
			margin: 0;
			color: $content-color;
		}

		.project-search {
			display: flex;
			flex-grow: 1;
			padding: 0 .5rem;
			border-radius: 5px;
			border: none;
			height: 30px;
		}
		.tag-filter-info {
			margin: .3rem 0 0;
			color: $content-color;
		}
		.tag-select {
			background: white;
			height: 30px;
			margin-right: 1rem;
			border-radius: 0;
			border: none;
		}

		.projects-loading {
			display: flex;
			flex-direction: column;
			align-items: center;
			width: 100%;
			margin: 2rem 0;
			transition: all 0.2s linear;

			i.fa {
				color: $accent;
				font-size: 5em;
			}

			@keyframes spinner {
			  to {transform: rotate(360deg);}
			}
			i.fa-refresh {
				animation: spinner 2s ease-in-out infinite;
			}

			span {
				margin-top: 1rem;
			}
		}

		.noresults {
			display: none;
			text-align: center;
			width: 100%;
			color: #fff;
		}
	}

	.post-block {
		margin: 2rem 0;
		.post-title {
			text-decoration: none;
			transition: all 0.2s linear;
			color: $content-color;


			h3 {
				margin: 0;
				font-weight: 700;
			}

			&:hover {
				color: $accent;
			}
		}
		.post-description {
			margin: 0;
		}
		.post-meta {
			margin-top: 0rem;
			font-size: 1.0em;
			font-weight: 700;
			font-style: italic;
		}
		.post-tag {
			display: inline-block;
			font-size: 1em;
			font-style: italic;
			margin: 1rem 0 0;
			margin-left: .5rem;
			padding: .15rem .5rem;
			color: $accent-hover;
			border: 1px solid $accent;
			border-radius: 15px;
			p {
				margin: 0;
			}
		}
	}

	.disqus-container {
		margin-top: 4rem;
	}

	// Styling for post content
	.post-content {
		h2 {
			font-size: 1.6em;
			font-weight: 700;
		}
		h3 {
			font-size: 1.4em;
			font-weight: 700;
		}
		h4 {
			font-size: 1.2em;
			font-weight: 700;
		}
		h5 {
			font-size: 1.2em;
			font-weight: 700;
		}
		p {
			font-size: 1.1em;
			line-height: 1.5em;
		}
		img {
			display: block;
    		max-width: 100%;
    		height: auto;
		}

	}

	// Styling for post code (Prism.js)
	:not(pre) > code[class*="language-"], pre[class*="language-"] {
		border: 1px solid #e0e0e0;
	}
}